FORMAT: 1A
HOST: http://api.zebra.com

# Zebra Supplies API
Supplies API is a service used to find supplies for Zebra printers.

# Group Supplies
Supply related resources of the **Supplies API**

## Supply [/supplies/{supplyId}]

+ Model (application/json)

    + Body

            {
                "links": {
                    "self": "http://localhost:9191/supplies/18951"
                },
                "id": "18951",
                "name": "Z-Ultimate 3000T White",
                "description": "Label Polyester 4 x 2in Thermal Transfer Zebra Z-Ultimate 3000T 3 in core 4 Rolls/Carton",
                "width": 4,
                "length": 2,
                "printers": [
                    {
                        "links": {},
                        "id": "105SL",
                        "name": "105SL",
                        "printTechnology": [
                            {
                                "id": "TT",
                                "label": "Thermal Transfer"
                            },
                            {
                                "id": "DT",
                                "label": "Direct Thermal"
                            }
                        ],
                        "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/105sl.jpg"
                    },
                    {
                        "links": {},
                        "id": "S4M",
                        "name": "S4M",
                        "printTechnology": [
                            {
                                "id": "TT",
                                "label": "Thermal Transfer"
                            },
                            {
                                "id": "DT",
                                "label": "Direct Thermal"
                            }
                        ],
                        "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/s4m.jpg"
                    },
                ],
                "ribbons": [
                    {
                        "links": {},
                        "id": "05095BK11045",
                        "name": "5100",
                        "description": "5100 Premium Resin:  Resin ribbon for dense black images in harsh environments. Great choice for printed circuit board applications. ",
                        "width": 1.57,
                        "length": 1476,
                        "rollsPerInnerCarton": 48,
                        "rollsPerOuterCarton": 48,
                        "printTechnology": {
                            "id": "TT",
                            "label": "Thermal Transfer"
                        },
                        "printers": [
                            {
                                "links": {},
                                "id": "MZ320",
                                "name": "MZ320",
                                "printTechnology": [
                                    {
                                        "id": "DT",
                                        "label": "Direct Thermal"
                                    }
                                ],
                                "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/mobile/mz-320.jpg"
                            }
                        ],
                        "specLink": null
                    }
                ],
                "printTechnology": {
                    "id": "TT",
                    "label": "Thermal Transfer"
                },
                "productType": {
                    "id": "L",
                    "label": "Labels"
                },
                "materialType": {
                    "id": "S",
                    "label": "Synthetic"
                },
                "adhesive": {
                    "id": "P",
                    "label": "Permanent"
                },
                "perforated": true,
                "labelsPerRoll": 2950,
                "rollsPerPack": 4,
                "specLink": "http://z03s-dayauth01:4502/content/dam/zebra/product-information/en-us/brochures-datasheets/supplies-accessories/zipship-labels-tags-en-us.pdf"
            }

### GET  [GET]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200

    [Supply][]
    
### OPTIONS [OPTIONS]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200
    + Headers

            Access-Control-Allow-Credentials: true
            Access-Control-Allow-Headers: Content-Type
            Access-Control-Allow-Methods: GET,POST,DELETE,OPTIONS
            Access-Control-Allow-Origin: *
            Access-Control-Max-Age: 60

## Supplies Collection [/supplies{?showResults,?printer,?printTech,?productType,?materialType,?width,?length}]
            
+ Parameters
    - showResults (optional, boolean)
        + Values
            + `true`
            + `false`
    - printer (optional, string, `105SL`)
    - printTech (optional, string)
        + Values
            + `DT`
            + `TT`
    - productType (optional, string)
        + Values
            + `L`
            + `T`
            + `R`
            + `W`
            + `C`
    - materialType (optional, string)
        + Values
            + `P`
            + `S`
            + `W`
            + `WR`
            + `R`
    - width (optional, float, `11.10`)
    - length (optional, float, `12.30`)

+ Model (application/json)

    + Body

            {
                "links": {
                    "self": "http://localhost:9191/supplies"
                },
                "resources": [
                    {
                        "links": {
                            "self": "http://localhost:9191/supplies/18951"
                        },
                        "id": "18951",
                        "name": "Z-Ultimate 3000T White",
                        "description": "Label Polyester 4 x 2in Thermal Transfer Zebra Z-Ultimate 3000T 3 in core 4 Rolls/Carton",
                        "width": 4,
                        "length": 2,
                        "printers": 
                            {
                                "links": {},
                                "id": "105SL",
                                "name": "105SL",
                                "printTechnology": [
                                    {
                                        "id": "TT",
                                        "label": "Thermal Transfer"
                                    },
                                    {
                                        "id": "DT",
                                        "label": "Direct Thermal"
                                    }
                                ],
                                "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/105sl.jpg"
                            },
                            {
                                "links": {},
                                "id": "S4M",
                                "name": "S4M",
                                "printTechnology": [
                                    {
                                        "id": "TT",
                                        "label": "Thermal Transfer"
                                    },
                                    {
                                        "id": "DT",
                                        "label": "Direct Thermal"
                                    }
                                ],
                                "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/s4m.jpg"
                            }
                        ],
                        "ribbons": [
                            {
                                "links": {},
                                "id": "05095BK11045",
                                "name": "5100",
                                "description": "5100 Premium Resin:  Resin ribbon for dense black images in harsh environments. Great choice for printed circuit board applications. ",
                                "width": 1.57,
                                "length": 1476,
                                "rollsPerInnerCarton": 48,
                                "rollsPerOuterCarton": 48,
                                "printTechnology": {
                                    "id": "TT",
                                    "label": "Thermal Transfer"
                                },
                                "printers": [
                                    {
                                        "links": {},
                                        "id": "MZ320",
                                        "name": "MZ320",
                                        "printTechnology": [
                                            {
                                                "id": "DT",
                                                "label": "Direct Thermal"
                                            }
                                        ],
                                        "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/mobile/mz-320.jpg"
                                    }
                                ],
                                "specLink": null
                            }
                        ],
                        "printTechnology": {
                            "id": "TT",
                            "label": "Thermal Transfer"
                        },
                        "productType": {
                            "id": "L",
                            "label": "Labels"
                        },
                        "materialType": {
                            "id": "S",
                            "label": "Synthetic"
                        },
                        "adhesive": {
                            "id": "P",
                            "label": "Permanent"
                        },
                        "perforated": true,
                        "labelsPerRoll": 2950,
                        "rollsPerPack": 4,
                        "specLink": "http://z03s-dayauth01:4502/content/dam/zebra/product-information/en-us/brochures-datasheets/supplies-accessories/zipship-labels-tags-en-us.pdf"
                    },
                    {
                        "links": {
                            "self": "http://localhost:9191/supplies/72275"
                        },
                        "id": "72275",
                        "name": "Z-Select 4000D",
                        "description": "Label Paper 2 x 1in Direct Thermal Zebra Z-Select 4000D 3 in core 8 Rolls/Carton",
                        "width": 2,
                        "length": 1,
                        "printers": [
                            {
                                "links": {},
                                "id": "105SL",
                                "name": "105SL",
                                "printTechnology": [
                                    {
                                        "id": "TT",
                                        "label": "Thermal Transfer"
                                    },
                                    {
                                        "id": "DT",
                                        "label": "Direct Thermal"
                                    }
                                ],
                                "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/105sl.jpg"
                            },
                            {
                                "links": {},
                                "id": "S4M",
                                "name": "S4M",
                                "printTechnology": [
                                    {
                                        "id": "TT",
                                        "label": "Thermal Transfer"
                                    },
                                    {
                                        "id": "DT",
                                        "label": "Direct Thermal"
                                    }
                                ],
                                "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/s4m.jpg"
                            },
                        ],
                        "ribbons": [],
                        "printTechnology": {
                            "id": "TT",
                            "label": "Thermal Transfer"
                        },
                        "productType": {
                            "id": "L",
                            "label": "Labels"
                        },
                        "materialType": {
                            "id": "P",
                            "label": "Paper"
                        },
                        "adhesive": {
                            "id": "P",
                            "label": "Permanent"
                        },
                        "perforated": false,
                        "labelsPerRoll": 4620,
                        "rollsPerPack": 8,
                        "specLink": "http://z03s-dayauth01:4502/content/dam/zebra/product-information/en-us/brochures-datasheets/supplies-accessories/zipship-labels-tags-en-us.pdf"
                    }
                ],
                "facets": {
                    "width": [
                        {
                            "label": "2.0",
                            "count": 1,
                            "link": "http://localhost:9191/supplies?width=2.0"
                        },
                        {
                            "label": "4.0",
                            "count": 1,
                            "link": "http://localhost:9191/supplies?width=4.0"
                        }
                    ],
                    "length": [
                        {
                            "label": "2.0",
                            "count": 1,
                            "link": "http://localhost:9191/supplies?length=2.0"
                        },
                        {
                            "label": "1.0",
                            "count": 1,
                            "link": "http://localhost:9191/supplies?length=1.0"
                        }
                    ],
                    "materialType": [
                        {
                            "label": "Paper",
                            "count": 1,
                            "link": "http://localhost:9191/supplies?materialType=P"
                        },
                        {
                            "label": "Synthetic",
                            "count": 1,
                            "link": "http://localhost:9191/supplies?materialType=S"
                        }
                    ],
                    "printTech": [
                        {
                            "label": "Thermal Transfer",
                            "count": 2,
                            "link": "http://localhost:9191/supplies?printTech=TT"
                        }
                    ],
                    "printer": [
                        {
                            "label": "105SL",
                            "count": 2,
                            "link": "http://localhost:9191/supplies?printer=105SL"
                        },
                        {
                            "label": "105SLPlus",
                            "count": 2,
                            "link": "http://localhost:9191/supplies?printer=105SLPlus"
                        }
                    ],
                    "productType": [
                        {
                            "label": "Labels",
                            "count": 2,
                            "link": "http://localhost:9191/supplies?productType=L"
                        }
                    ]
                },
                "total": 2
            }

### GET [GET]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200

    [Supplies Collection][]
    
### OPTIONS [OPTIONS]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200
    + Headers

            Access-Control-Allow-Credentials: true
            Access-Control-Allow-Headers: Content-Type
            Access-Control-Allow-Methods: GET,POST,DELETE,OPTIONS
            Access-Control-Allow-Origin: *
            Access-Control-Max-Age: 60
    
# Group Printers
Printer related resources of the **Supplies API**

## Printer [/printers/{printerId}]

+ Headers
    
        Origin: www.zebra.com

+ Model (application/json)

    + Body

            {
                "links": {
                    "self": "http://localhost:9191/printers/105SL"
                },
                "id": "105SL",
                "name": "105SL",
                "printTechnology": [
                    {
                        "id": "TT",
                        "label": "Thermal Transfer"
                    },
                    {
                        "id": "DT",
                        "label": "Direct Thermal"
                    }
                ],
                "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/105sl.jpg"
            }
            
### GET [GET]
+ Response 200

    [Printer][]

### OPTIONS [OPTIONS]
+ Response 200
    + Headers

            Access-Control-Allow-Credentials: true
            Access-Control-Allow-Headers: Content-Type
            Access-Control-Allow-Methods: GET,POST,DELETE,OPTIONS
            Access-Control-Allow-Origin: *
            Access-Control-Max-Age: 60

## Printers Collection [/printers]

+ Model (application/json)

    + Body

            {
                "links": {
                    "self": "http://localhost:9191/printers",
                },
                "resources": [
                    {
                        "links": {
                            "self": "http://localhost:9191/printers/105SL"
                        },
                        "id": "105SL",
                        "name": "105SL",
                        "printTechnology": [
                            {
                                "id": "TT",
                                "label": "Thermal Transfer"
                            },
                            {
                                "id": "DT",
                                "label": "Direct Thermal"
                            }
                        ],
                        "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/105sl.jpg"
                    },
                    {
                        "links": {
                            "self": "http://localhost:9191/printers/105SLPlus"
                        },
                        "id": "105SLPlus",
                        "name": "105SLPlus",
                        "printTechnology": [
                            {
                                "id": "TT",
                                "label": "Thermal Transfer"
                            },
                            {
                                "id": "DT",
                                "label": "Direct Thermal"
                            }
                        ],
                        "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/105slplus.png"
                    }
                ],
                "facets": null,
                "total": 2
            }

### GET [GET]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200

    [Printers Collection][]
    
### OPTIONS [OPTIONS]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200
    + Headers

            Access-Control-Allow-Credentials: true
            Access-Control-Allow-Headers: Content-Type
            Access-Control-Allow-Methods: GET,POST,DELETE,OPTIONS
            Access-Control-Allow-Origin: *
            Access-Control-Max-Age: 60
