FORMAT: 1A
HOST: http://api.zebra.com

# Zebra Supplies API
Supplies API is a service used to find supplies for Zebra printers.

# Group Supplies
Supply related resources of the **Supplies API**

## Supply [/supplies/{supplyId}]

+ Headers
    
        Accept-Language: en-US

+ Model (application/json)

    + Body

            {
                "id": 1,
                "type": "media",
                "name": "name1",
                "description": "description1",
                "number": "number1",
                "width": 11.00,
                "length": 12.00,
                "distanceUnit": "metric",
                "inStock": true,
                "weight": 35.00,
                "perforated": true,
                "labelsPerRoll": 300,
                "rollsPerPack": 25,
                "comments": "this is a comment",
                "madeToOrder": false,
                "minServiceTemp": -10,
                "maxServiceTemp": 20,
                "tempUnit": "C",
                "adhesive": "permanent",
                "minAppTemp": 30,
                "productType": "label",
                "mediaType": "synthetic",
                "printTech": "DT",
                "chemResist": [ "alchohol", "ammonia" ],
                "environment": [ "indoor", "outdoor" ],
                "surface": [ "paper", "plastic" ],
                "environment": [ "indoor", "outdoor" ],
                "acceptance": [ "CSA" ],
                "surfaceCondition": [ "clean", "dirty" ],
                "surfaceShape": [ "smooth", "rough" ],
                "printers": [ 
                    {
                        "id": 1,
                        "name", "printer1",
                        "supported": true,
                        "active", true,
                        "links": [ 
                        {
                            "rel": "self",
                            "href": "http://api.zebra.com/printers/1"
                        }
                    },
                    {
                        "id": 2,
                        "name", "printer2",
                        "supported": true,
                        "active", false,
                        "links": [ 
                        {
                            "rel": "self",
                            "href": "http://api.zebra.com/printers/2"
                        }
                    }
                ],
                "ribbons": [ 
                    {
                        "id": 2,
                        "type", "ribbon",
                        "name": "name1",
                        "description": "description1",
                        "number": "number1",
                        "width": 11.00,
                        "length": 12.00,
                        "distanceUnit": "metric",
                        "inStock": true,
                        "rpic": 10,
                        "rpoc": 40,
                        "links": [ 
                        {
                            "rel": "self",
                            "href": "http://api.zebra.com/supplies/2"
                        }
                    }
                ],
                "links": [ 
                    {
                        "rel": "self",
                        "href": "http://api.zebra.com/supplies/1"
                    }
                ]
            }

### Retrieve a Supply [GET]
+ Response 200

    [Supply][]

## Supplies Collection [/supplies{?page,pageSize,sortBy,sort,type,printer,mediaType,width,length,distanceUnit,printTech,chemResist,env,maxTemp,minTemp,tempUnit,adhesive,surface,surfaceShape,surfaceCond,acceptance}]
            
+ Parameters
    - page = `1` (optional, integer, `1`) 
    - pageSize = `10` (optional, integer, `10`)
    - sortBy (optional, string, `width, length, perforation`)
    - sort (optional, string)
        + Values
            + `asc`
            + `desc`
    - type (optional, string, `media, ribbon`)
    - printer (optional, string, `105SL`) 
    - mediaType (optional, string, `paper, synthetic`)
    - width (optional, float, `11.10`)
    - length (optional, float, `12.30`)
    - distanceUnit (optional, string)
        + Values
            + `metric`
            + `imperial`
    - printTech (optional, string, `DT, TT`)
    - chemResist (optional, string, `none, weak, medium, strong`)
    - env (optional, string, `indoor, outdoor`)
    - maxTemp (optional, integer, `-10`)
    - minTemp (optional, integer, `40`)
    - tempUnit (optional, string)
        + Values
            + `C`
            + `F`
    - adhesive (optional, string, `permanent, removable`)
    - surface (optional, string, `paper, plastic`)
    - surfaceShape (optional, string, `smooth, rough`)
    - surfaceCond (optional, string, `smooth, rough`)
    - acceptance (optional, string)
        + Values
            + `CSA`
            + `UL`
            
+ Headers
    
        Accept-Language: en-US

+ Model (application/json)

    + Body

            {
                "results": [
                    {
                        "id": 1,
                        "type": "media",
                        "name": "name1",
                        "description": "description1",
                        "number": "number1",
                        "width": 11.00,
                        "length": 12.00,
                        "distanceUnit": "metric",
                        "inStock": true,
                        "weight": 35.00,
                        "perforated": true,
                        "labelsPerRoll": 300,
                        "rollsPerPack": 25,
                        "comments": "this is a comment",
                        "madeToOrder": false,
                        "minServiceTemp": -10,
                        "maxServiceTemp": 20,
                        "tempUnit": "C",
                        "adhesive": "permanent",
                        "minAppTemp": 30,
                        "productType": "label",
                        "mediaType": "synthetic",
                        "printTech": "DT",
                        "chemResist": [ "alchohol", "ammonia" ],
                        "environment": [ "indoor", "outdoor" ],
                        "surface": [ "paper", "plastic" ],
                        "environment": [ "indoor", "outdoor" ],
                        "acceptance": [ "CSA" ],
                        "surfaceCondition": [ "clean", "dirty" ],
                        "surfaceShape": [ "smooth", "rough" ],
                        "printers": [ 
                            {
                                "id": 1,
                                "name", "printer1",
                                "supported": true,
                                "active", true,
                                "links": [ 
                                {
                                    "rel": "self",
                                    "href": "http://api.zebra.com/printers/1"
                                }
                            },
                            {
                                "id": 2,
                                "name", "printer2",
                                "supported": true,
                                "active", false,
                                "links": [ 
                                {
                                    "rel": "self",
                                    "href": "http://api.zebra.com/printers/2"
                                }
                            }
                        ],
                        "ribbons": [ 
                            {
                                "id": 2,
                                "type", "ribbon",
                                "name": "name1",
                                "description": "description1",
                                "number": "number1",
                                "width": 11.00,
                                "length": 12.00,
                                "distanceUnit": "metric",
                                "inStock": true,
                                "rpic": 10,
                                "rpoc": 40,
                                "links": [ 
                                {
                                    "rel": "self",
                                    "href": "http://api.zebra.com/supplies/2"
                                }
                            }
                        ],
                        "links": [ 
                            {
                                "rel": "self",
                                "href": "http://api.zebra.com/supplies/1"
                            }
                        ]
                    },
                    {
                        "id": 1,
                        "type": "media",
                        "name": "name1",
                        "description": "description1",
                        "number": "number1",
                        "width": 11.00,
                        "length": 12.00,
                        "distanceUnit": "metric",
                        "inStock": true,
                        "weight": 35.00,
                        "perforated": true,
                        "labelsPerRoll": 300,
                        "rollsPerPack": 25,
                        "comments": "this is a comment",
                        "madeToOrder": false,
                        "minServiceTemp": -10,
                        "maxServiceTemp": 20,
                        "tempUnit": "C",
                        "adhesive": "permanent",
                        "minAppTemp": 30,
                        "productType": "label",
                        "mediaType": "synthetic",
                        "printTech": "DT",
                        "chemResist": [ "alchohol", "ammonia" ],
                        "environment": [ "indoor", "outdoor" ],
                        "surface": [ "paper", "plastic" ],
                        "environment": [ "indoor", "outdoor" ],
                        "acceptance": [ "CSA" ],
                        "surfaceCondition": [ "clean", "dirty" ],
                        "surfaceShape": [ "smooth", "rough" ],
                        "printers": [ 
                            {
                                "id": 1,
                                "name", "printer1",
                                "supported": true,
                                "active", true,
                                "links": [ 
                                {
                                    "rel": "self",
                                    "href": "http://api.zebra.com/printers/1"
                                }
                            },
                            {
                                "id": 2,
                                "name", "printer2",
                                "supported": true,
                                "active", false,
                                "links": [ 
                                {
                                    "rel": "self",
                                    "href": "http://api.zebra.com/printers/2"
                                }
                            }
                        ],
                        "ribbons": [ 
                            {
                                "id": 2,
                                "type", "ribbon",
                                "name": "name1",
                                "description": "description1",
                                "number": "number1",
                                "width": 11.00,
                                "length": 12.00,
                                "distanceUnit": "metric",
                                "inStock": true,
                                "rpic": 10,
                                "rpoc": 40,
                                "links": [ 
                                {
                                    "rel": "self",
                                    "href": "http://api.zebra.com/supplies/2"
                                }
                            }
                        ],
                        "links": [ 
                            {
                                "rel": "self",
                                "href": "http://api.zebra.com/supplies/1"
                            }
                        ]
                    }
                ],
                "links": [
                    {
                        "rel": "self",
                        "href": "http://api.zebra.com/supplies"
                    },
                    {
                        "rel": "next",
                        "href": "http://api.zebra.com/supplies/1"
                    },
                    {
                        "rel": "previous",
                        "href": "http://api.zebra.com/supplies/1"
                    }
                ],
                "facets": [
                    {
                        "label": "chemical Resistance (2)",
                        "href": "http://api.zebra.com/supplies"
                    },
                    {
                        "rel": "next",
                        "href": "http://api.zebra.com/supplies/1"
                    },
                    {
                        "rel": "previous",
                        "href": "http://api.zebra.com/supplies/1"
                    }
                ]
            }

### List all Supplies [GET]
+ Response 200

    [Supplies Collection][]
