FORMAT: 1A
HOST: http://api.zebra.com

# Zebra Supplies API
Supplies API is a service used to find supplies for Zebra printers.

# Group Supplies
Supply related resources of the **Supplies API**

## Supply [/supplies/{supplyId}]

+ Model (application/json)

    + Body

            {
                "links": {
                    "self": "http://localhost:9191/supplies/18951"
                },
                "id": "18951",
                "name": "Z-Ultimate 3000T White",
                "description": "Label Polyester 4 x 2in Thermal Transfer Zebra Z-Ultimate 3000T 3 in core 4 Rolls/Carton",
                "width": 4,
                "length": 2,
                "printers": [
                    {
                        "links": {},
                        "id": "105SL",
                        "name": "105SL",
                        "printTechnology": [
                            {
                                "id": "TT",
                                "label": "Thermal Transfer"
                            },
                            {
                                "id": "DT",
                                "label": "Direct Thermal"
                            }
                        ],
                        "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/105sl.jpg"
                    },
                    {
                        "links": {},
                        "id": "S4M",
                        "name": "S4M",
                        "printTechnology": [
                            {
                                "id": "TT",
                                "label": "Thermal Transfer"
                            },
                            {
                                "id": "DT",
                                "label": "Direct Thermal"
                            }
                        ],
                        "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/s4m.jpg"
                    },
                ],
                "ribbons": [
                    {
                        "links": {},
                        "id": "05095BK11045",
                        "name": "5100",
                        "description": "5100 Premium Resin:  Resin ribbon for dense black images in harsh environments. Great choice for printed circuit board applications. ",
                        "width": 1.57,
                        "length": 1476,
                        "rollsPerInnerCarton": 48,
                        "rollsPerOuterCarton": 48,
                        "printTechnology": {
                            "id": "TT",
                            "label": "Thermal Transfer"
                        },
                        "printers": [
                            {
                                "links": {},
                                "id": "MZ320",
                                "name": "MZ320",
                                "printTechnology": [
                                    {
                                        "id": "DT",
                                        "label": "Direct Thermal"
                                    }
                                ],
                                "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/mobile/mz-320.jpg"
                            }
                        ],
                        "specLink": null
                    }
                ],
                "printTechnology": {
                    "id": "TT",
                    "label": "Thermal Transfer"
                },
                "productType": {
                    "id": "L",
                    "label": "Labels"
                },
                "materialType": {
                    "id": "S",
                    "label": "Synthetic"
                },
                "adhesive": {
                    "id": "P",
                    "label": "Permanent"
                },
                "perforated": true,
                "labelsPerRoll": 2950,
                "rollsPerPack": 4,
                "specLink": "http://z03s-dayauth01:4502/content/dam/zebra/product-information/en-us/brochures-datasheets/supplies-accessories/zipship-labels-tags-en-us.pdf"
            }

### GET  [GET]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200

    [Supply][]
    
### OPTIONS [OPTIONS]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200
    + Headers

            Access-Control-Allow-Credentials: true
            Access-Control-Allow-Headers: Content-Type
            Access-Control-Allow-Methods: GET,POST,DELETE,OPTIONS
            Access-Control-Allow-Origin: *
            Access-Control-Max-Age: 60

## Supplies Collection [/supplies{?showResults,?printer,?printTech,?productType,?materialType,?width,?length,?ribbonApp,?cardTech,?cardThick,?dmar,?ribbonColor,?color}]
            
+ Parameters
    - showResults (optional, boolean) ... Setting this parameter to false allows to return a lightweight response without the actual search results. Quite useful when used in multi-step wizards and only the facets or number of hits are needed.
        + Values
            + `true`
            + `false`
    - printer (optional, string, `105SL`) ... Printer that supports the supply. 
    - printTech (optional, string) ... Printer technology. Possible values `Direct Thermal` and `Thermal Transfer`
        + Values
            + `DT`
            + `TT`
    - productType (optional, string) ... Supply product type. Possible values `Label`, `Tags`, `Receipts`, `Wristbands`, `Cards`
        + Values
            + `L`
            + `T`
            + `R`
            + `W`
            + `C`
    - materialType (optional, string) ... Supply material type. Possible values `Paper`, `Synthetic`, `Wax`, `Wax/Resin`, `Resin`, `White PVC` , `Color PVC`, `Recycled PVC`, `Composite`, `Translucent Hologram`
        + Values
            + `P`
            + `S`
            + `W`
            + `WR`
            + `R`
            + `WPVC`
            + `CPVC`
            + `RPVC`
            + `COMP`
            + `T`
    - width (optional, float, `11.10`) ... Width of the supply in inches. Follow the format `00.00`
    - length (optional, float, `12.30`) ... Length of the supply in inches. Follow the format `00.00`
    - ribbonApp (optional, string) ... Ribbon capacity. Possible values `Standard`, `High`
        + Values
            + `S`
            + `H`
    - cardTech (optional, string) ... Card technology. Possible values `None` , `MS`, `RFID`, `MiFare`, `Prox`
        + Values
            + `NONE`
            + `MS`
            + `RFID`
            + `MF`
            + `P`
    - cardThick (optional, string, `100`) ... Card thickness in microns. 
    - dmar (optional, string) ... Setting this parameter with the corresponding DMAR value will return the SKU in the payload and filter out the ones that dont have one assigned by the DMAR
        + Values
            + `CDW`
    - ribbonColor (optional, string) ... Ribbon capacity. Possible values `Full Color`, `Monochrome - Black`, `Monochrome - White`, `Monochrome - Red`, `Monochrome - Blue`, `Monochrome - Metallic Gold`, `Monochrome - Metallic Silver`, `Monochrome - Gold`, `Monochrome - Silver`, `Monochrome - Scratch-off Grey`
        + Values
            + `FC`
            + `MCBLK`
            + `MCW`
            + `MCR`
            + `MCBLU`
            + `MCMG`
            + `MCMS`
            + `MCG`
            + `MCS`
            + `MCSO`
    - color (optional, string) ... Material color. Possible values `Blue`, `Clear`, `FL Orange`, `Green`, `Light Green`, `Light Pink`, `Multiple`, `Orange`, `Pink`, `Purple`, `Red`, `White`, `Yellow`, `Gold Metallic`, `Silver Metallic`
        + Values
            + `B`
            + `C`
            + `FLO`
            + `G`
            + `LG`
            + `LPI`
            + `M`
            + `O`
            + `PI`
            + `PU`
            + `R`
            + `W`
            + `Y`
            + `GM`
            + `SM`

+ Model (application/json)

    + Body

            {
                "links": {
                    "self": "http://z77s-dapiapp01:9091/supplies?cardThick=10&dmar=CDW"
                },
                "resources": [
                    {
                        "links": {
                            "self": "http://z77s-dapiapp01:9091/supplies/104523-210"
                        },
                        "id": "104523-210",
                        "name": "Premier PVC Blank White CR-80 Cards",
                        "description": "10 mil PVC card",
                        "additionalInfo": "This is a placeholder for additional info",
                        "dmarDescription": "This is a placeholder for DMAR descriptions",
                        "printers": [
                            {
                                "links": {},
                                "id": "ZXP1",
                                "name": "ZXP Series 1",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp1-faceit-hopper.png"
                            },
                            {
                                "links": {},
                                "id": "ZXP3",
                                "name": "ZXP Series 3",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp-series-3.png"
                            },
                            {
                                "links": {},
                                "id": "ZXP7",
                                "name": "ZXP Series 7",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp-series-7.png"
                            }
                        ],
                        "productType": {
                            "id": "C",
                            "label": "Cards"
                        },
                        "materialType": {
                            "id": "WPVC",
                            "label": "White PVC"
                        },
                        "amountInFeetPerRoll": 10,
                        "cardsPerBox": 500,
                        "cardTechnology": {
                            "id": "NONE",
                            "label": "None"
                        },
                        "cardThickness": 10,
                        "color": {
                            "id": "FLO",
                            "label": "FL Orange"
                        },
                        "dmarSku": "2647875"
                    },
                    {
                        "links": {
                            "self": "http://z77s-dapiapp01:9091/supplies/104523-010"
                        },
                        "id": "104523-010",
                        "name": "Premier PVC Blank White CR-80 Cards",
                        "description": "10 mil Adhesive back cards with 14 mil Mylar® release liner, 24 mil total thickness",
                        "additionalInfo": "This is a placeholder for additional info",
                        "dmarDescription": "This is a placeholder for DMAR descriptions",
                        "printers": [
                            {
                                "links": {},
                                "id": "ZXP7",
                                "name": "ZXP Series 7",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp-series-7.png"
                            }
                        ],
                        "productType": {
                            "id": "C",
                            "label": "Cards"
                        },
                        "materialType": {
                            "id": "WPVC",
                            "label": "White PVC"
                        },
                        "amountInFeetPerRoll": 10,
                        "cardsPerBox": 500,
                        "cardTechnology": {
                            "id": "NONE",
                            "label": "None"
                        },
                        "cardThickness": 10,
                        "color": {
                            "id": "PU",
                            "label": "Purple"
                        },
                        "dmarSku": "505232"
                    }
                ],
                "facets": {
                    "cardTech": [
                        {
                            "label": "None",
                            "value": "NONE",
                            "count": 2,
                            "link": "http://z77s-dapiapp01:9091/supplies?cardThick=10&dmar=CDW&cardTech=NONE"
                        }
                    ],
                    "materialType": [
                        {
                            "label": "White PVC",
                            "value": "WPVC",
                            "count": 2,
                            "link": "http://z77s-dapiapp01:9091/supplies?cardThick=10&dmar=CDW&materialType=WPVC"
                        }
                    ],
                    "printer": [
                        {
                            "label": "ZXP Series 1",
                            "value": "ZXP1",
                            "count": 1,
                            "link": "http://z77s-dapiapp01:9091/supplies?cardThick=10&dmar=CDW&printer=ZXP1"
                        },
                        {
                            "label": "ZXP Series 3",
                            "value": "ZXP3",
                            "count": 1,
                            "link": "http://z77s-dapiapp01:9091/supplies?cardThick=10&dmar=CDW&printer=ZXP3"
                        },
                        {
                            "label": "ZXP Series 7",
                            "value": "ZXP7",
                            "count": 2,
                            "link": "http://z77s-dapiapp01:9091/supplies?cardThick=10&dmar=CDW&printer=ZXP7"
                        }
                    ],
                    "productType": [
                        {
                            "label": "Cards",
                            "value": "C",
                            "count": 2,
                            "link": "http://z77s-dapiapp01:9091/supplies?cardThick=10&dmar=CDW&productType=C"
                        }
                    ]
                },
                "total": 2
            }

### GET [GET]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200

    [Supplies Collection][]
    
### OPTIONS [OPTIONS]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200
    + Headers

            Access-Control-Allow-Credentials: true
            Access-Control-Allow-Headers: Content-Type
            Access-Control-Allow-Methods: GET,POST,DELETE,OPTIONS
            Access-Control-Allow-Origin: *
            Access-Control-Max-Age: 60
    
# Group Printers
Printer related resources of the **Supplies API**

## Printer [/printers/{printerId}]
+ Request
    + Headers
    
        Origin: www.zebra.com

+ Model (application/json)

    + Body

            {
                "links": {
                    "self": "http://localhost:9191/printers/105SL"
                },
                "id": "105SL",
                "name": "105SL",
                "printTechnology": [
                    {
                        "id": "TT",
                        "label": "Thermal Transfer"
                    },
                    {
                        "id": "DT",
                        "label": "Direct Thermal"
                    }
                ],
                "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/105sl.jpg"
            }
            
### GET [GET]
+ Response 200

    [Printer][]

### OPTIONS [OPTIONS]
+ Response 200
    + Headers

            Access-Control-Allow-Credentials: true
            Access-Control-Allow-Headers: Content-Type
            Access-Control-Allow-Methods: GET,POST,DELETE,OPTIONS
            Access-Control-Allow-Origin: *
            Access-Control-Max-Age: 60

## Printers Collection [/printers{?dmar,?sortBy,?sortOrder}]

+ Parameters
    - dmar (optional, string) ... Setting this parameter with the corresponding DMAR value will return printers that the DMAR has supplies for
        + Values
            + `CDW`
    - sortBy (optional, string) ... Sorting field
        + Values
            + `id`
            + `name`
    - sortOrder (optional, string) ... Sorting order
        + values
            + `ASC`
            + `DESC`


+ Model (application/json)

    + Body

            {
                "links": {
                    "self": "http://localhost:9191/printers",
                },
                "resources": [
                    {
                        "links": {
                            "self": "http://localhost:9191/printers/105SL"
                        },
                        "id": "105SL",
                        "name": "105SL",
                        "printTechnology": [
                            {
                                "id": "TT",
                                "label": "Thermal Transfer"
                            },
                            {
                                "id": "DT",
                                "label": "Direct Thermal"
                            }
                        ],
                        "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/105sl.jpg"
                    },
                    {
                        "links": {
                            "self": "http://localhost:9191/printers/105SLPlus"
                        },
                        "id": "105SLPlus",
                        "name": "105SLPlus",
                        "printTechnology": [
                            {
                                "id": "TT",
                                "label": "Thermal Transfer"
                            },
                            {
                                "id": "DT",
                                "label": "Direct Thermal"
                            }
                        ],
                        "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/105slplus.png"
                    }
                ],
                "facets": null,
                "total": 2
            }

### GET [GET]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200

    [Printers Collection][]
    
### OPTIONS [OPTIONS]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200
    + Headers

            Access-Control-Allow-Credentials: true
            Access-Control-Allow-Headers: Content-Type
            Access-Control-Allow-Methods: GET,POST,DELETE,OPTIONS
            Access-Control-Allow-Origin: *
            Access-Control-Max-Age: 60

# Group Accessories
Accessories related resources of the **Supplies API**

## Accessory [/accessories/{accessoryId}]
+ Request
    + Headers
    
        Origin: www.zebra.com

+ Model (application/json)

    + Body

            {
                "links": {
                    "self": "http://test-api.zebra.com/accessories/105999-101"
                },
                "id": "105999-101",
                "name": "Cleaning Kit",
                "description": "4 print engine cleaning cards and 4 feeder cleaning cards (1000 prints/card)",
                "printers": [
                    {
                        "links": {},
                        "id": "ZXP1",
                        "name": "ZXP Series 1",
                        "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp1-faceit-hopper.png"
                    }
                ]
            }
            
### GET [GET]
+ Response 200

    [Accessory][]

### OPTIONS [OPTIONS]
+ Response 200
    + Headers

            Access-Control-Allow-Credentials: true
            Access-Control-Allow-Headers: Content-Type
            Access-Control-Allow-Methods: GET,POST,DELETE,OPTIONS
            Access-Control-Allow-Origin: *
            Access-Control-Max-Age: 60

## Accessories Collection [/accessories{?showResults,?printer,?dmar}]

+ Parameters
    - showResults (optional, boolean) ... Setting this parameter to false allows to return a lightweight response without the actual search results. Quite useful when used in multi-step wizards and only the facets or number of hits are needed.
        + Values
            + `true`
            + `false`
    - printer (optional, string, `105SL`) ... Printer that supports the supply. 
    - dmar (optional, string) ... Setting this parameter with the corresponding DMAR value will return printers that the DMAR has supplies for
        + Values
            + `CDW`

+ Model (application/json)

    + Body

            {
                "links": {
                    "self": "http://test-api.zebra.com/accessories?showResults=true&dmar=CDW"
                },
                "resources": [
                    {
                        "links": {
                            "self": "http://test-api.zebra.com/accessories/105999-101"
                        },
                        "id": "105999-101",
                        "name": "Cleaning Kit",
                        "description": "4 print engine cleaning cards and 4 feeder cleaning cards (1000 prints/card)",
                        "printers": [
                            {
                                "links": {},
                                "id": "ZXP1",
                                "name": "ZXP Series 1",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp1-faceit-hopper.png"
                            }
                        ],
                        "dmarSku": "3169923"
                    },
                    {
                        "links": {
                            "self": "http://test-api.zebra.com/accessories/105999-302"
                        },
                        "id": "105999-302",
                        "name": "Cleaning Kit",
                        "description": "4 print engine cleaning cards and 4 feeder cleaning cards (1000 prints/card)",
                        "printers": [
                            {
                                "links": {},
                                "id": "ZXP3",
                                "name": "ZXP Series 3",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp-series-3.png"
                            }
                        ],
                        "dmarSku": "3125630"
                    },
                    {
                        "links": {
                            "self": "http://test-api.zebra.com/accessories/105999-701"
                        },
                        "id": "105999-701",
                        "name": "Cleaning Kit",
                        "description": "Print Station Cleaning Kit (Includes 12 feeder and print path cleaning cards for 60,000 prints)",
                        "printers": [
                            {
                                "links": {},
                                "id": "ZXP7",
                                "name": "ZXP Series 7",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp-series-7.png"
                            }
                        ],
                        "dmarSku": "3012235"
                    },
                    {
                        "links": {
                            "self": "http://test-api.zebra.com/accessories/105912-003"
                        },
                        "id": "105912-003",
                        "name": "Cleaning Kit",
                        "description": "Adhesive cleaning rollers, set of 5",
                        "printers": [
                            {
                                "links": {},
                                "id": "ZXP7",
                                "name": "ZXP Series 7",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp-series-7.png"
                            }
                        ],
                        "dmarSku": "594860"
                    },
                    {
                        "links": {
                            "self": "http://test-api.zebra.com/accessories/105999-705"
                        },
                        "id": "105999-705",
                        "name": "Cleaning Kit",
                        "description": "Abrasive printhead polishing card",
                        "printers": [
                            {
                                "links": {},
                                "id": "ZXP7",
                                "name": "ZXP Series 7",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp-series-7.png"
                            }
                        ],
                        "dmarSku": "3049006"
                    },
                    {
                        "links": {
                            "self": "http://test-api.zebra.com/accessories/105909G-057"
                        },
                        "id": "105909G-057",
                        "name": "Cleaning swab kit",
                        "description": "Box of 24 swabs for all printers",
                        "printers": [
                            {
                                "links": {},
                                "id": "ZXP1",
                                "name": "ZXP Series 1",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp1-faceit-hopper.png"
                            },
                            {
                                "links": {},
                                "id": "ZXP3",
                                "name": "ZXP Series 3",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp-series-3.png"
                            },
                            {
                                "links": {},
                                "id": "ZXP7",
                                "name": "ZXP Series 7",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp-series-7.png"
                            }
                        ],
                        "dmarSku": "2563072"
                    },
                    {
                        "links": {
                            "self": "http://test-api.zebra.com/accessories/800117-002"
                        },
                        "id": "800117-002",
                        "name": "Cleaning Pens",
                        "description": "Box of 12 pens for all printers",
                        "printers": [
                            {
                                "links": {},
                                "id": "ZXP1",
                                "name": "ZXP Series 1",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp1-faceit-hopper.png"
                            },
                            {
                                "links": {},
                                "id": "ZXP3",
                                "name": "ZXP Series 3",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp-series-3.png"
                            },
                            {
                                "links": {},
                                "id": "ZXP7",
                                "name": "ZXP Series 7",
                                "imageLink": "http://www.zebra.com/content/dam/zebra/photography/product/card/zxp-series-7.png"
                            }
                        ],
                        "dmarSku": "2531233"
                    }
                ],
                "facets": {
                    "printer": [
                        {
                            "label": "ZXP Series 1",
                            "value": "ZXP1",
                            "count": 3,
                            "link": "http://test-api.zebra.com/accessories?showResults=true&dmar=CDW&printer=ZXP1"
                        },
                        {
                            "label": "ZXP Series 3",
                            "value": "ZXP3",
                            "count": 3,
                            "link": "http://test-api.zebra.com/accessories?showResults=true&dmar=CDW&printer=ZXP3"
                        },
                        {
                            "label": "ZXP Series 7",
                            "value": "ZXP7",
                            "count": 5,
                            "link": "http://test-api.zebra.com/accessories?showResults=true&dmar=CDW&printer=ZXP7"
                        }
                    ]
                },
                "total": 7
            }

### GET [GET]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200

    [Printers Collection][]
    
### OPTIONS [OPTIONS]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200
    + Headers

            Access-Control-Allow-Credentials: true
            Access-Control-Allow-Headers: Content-Type
            Access-Control-Allow-Methods: GET,POST,DELETE,OPTIONS
            Access-Control-Allow-Origin: *
            Access-Control-Max-Age: 60
