FORMAT: 1A
HOST: http://api.zebra.com

# Zebra Supplies API
Supplies API is a service used to find supplies for Zebra printers.

# Group Supplies
Supply related resources of the **Supplies API**

## Supply [/supplies/{supplyId}]

+ Model (application/json)

    + Body

            {
                "links": {
                    "self": "http://localhost:9191/supplies/18951"
                },
                "id": "18951",
                "name": "Z-Ultimate 3000T White",
                "description": "Label Polyester 4 x 2in Thermal Transfer Zebra Z-Ultimate 3000T 3 in core 4 Rolls/Carton",
                "width": 4,
                "length": 2,
                "printers": [
                    {
                        "links": {},
                        "id": "105SL",
                        "name": "105SL",
                        "printTechnology": [
                            {
                                "id": "TT",
                                "label": "Thermal Transfer"
                            },
                            {
                                "id": "DT",
                                "label": "Direct Thermal"
                            }
                        ],
                        "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/105sl.jpg"
                    },
                    {
                        "links": {},
                        "id": "S4M",
                        "name": "S4M",
                        "printTechnology": [
                            {
                                "id": "TT",
                                "label": "Thermal Transfer"
                            },
                            {
                                "id": "DT",
                                "label": "Direct Thermal"
                            }
                        ],
                        "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/s4m.jpg"
                    },
                ],
                "ribbons": [
                    {
                        "links": {},
                        "id": "05095BK11045",
                        "name": "5100",
                        "description": "5100 Premium Resin:  Resin ribbon for dense black images in harsh environments. Great choice for printed circuit board applications. ",
                        "width": 1.57,
                        "length": 1476,
                        "rollsPerInnerCarton": 48,
                        "rollsPerOuterCarton": 48,
                        "printTechnology": {
                            "id": "TT",
                            "label": "Thermal Transfer"
                        },
                        "printers": [
                            {
                                "links": {},
                                "id": "MZ320",
                                "name": "MZ320",
                                "printTechnology": [
                                    {
                                        "id": "DT",
                                        "label": "Direct Thermal"
                                    }
                                ],
                                "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/mobile/mz-320.jpg"
                            }
                        ],
                        "specLink": null
                    }
                ],
                "printTechnology": {
                    "id": "TT",
                    "label": "Thermal Transfer"
                },
                "productType": {
                    "id": "L",
                    "label": "Labels"
                },
                "materialType": {
                    "id": "S",
                    "label": "Synthetic"
                },
                "adhesive": {
                    "id": "P",
                    "label": "Permanent"
                },
                "perforated": true,
                "labelsPerRoll": 2950,
                "rollsPerPack": 4,
                "specLink": "http://z03s-dayauth01:4502/content/dam/zebra/product-information/en-us/brochures-datasheets/supplies-accessories/zipship-labels-tags-en-us.pdf"
            }

### GET  [GET]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200

    [Supply][]
    
### OPTIONS [OPTIONS]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200
    + Headers

            Access-Control-Allow-Credentials: true
            Access-Control-Allow-Headers: Content-Type
            Access-Control-Allow-Methods: GET,POST,DELETE,OPTIONS
            Access-Control-Allow-Origin: *
            Access-Control-Max-Age: 60

## Supplies Collection [/supplies{?showResults,?printer,?printTech,?productType,?materialType,?width,?length,?ribbonApp,?cardTech,?cardThick,?dmar}]
            
+ Parameters
    - showResults (optional, boolean) ... Setting this parameter to false allows to return a lightweight response without the actual search results. Quite useful when used in multi-step wizards and only the facets or number of hits are needed.
        + Values
            + `true`
            + `false`
    - printer (optional, string, `105SL`) ... Printer that supports the supply. 
    - printTech (optional, string) ... Printer technology. Possible values `Direct Thermal` and `Thermal Transfer`
        + Values
            + `DT`
            + `TT`
    - productType (optional, string) ... Supply product type. Possible values `Label`, `Tags`, `Receipts`, `Wristbands`, `Cards`
        + Values
            + `L`
            + `T`
            + `R`
            + `W`
            + `C`
    - materialType (optional, string) ... Supply material type. Possible values `Paper`, `Synthetic`, `Wax`, `Wax/Resin`, `Resin`, `White PVC` , `Color PVC`, `Recycled PVC`, `Composite`, `Translucent Hologram`
        + Values
            + `P`
            + `S`
            + `W`
            + `WR`
            + `R`
            + `WPVC`
            + `CPVC`
            + `RPVC`
            + `COMP`
            + `T`
    - width (optional, float, `11.10`) ... Width of the supply in inches. Follow the format `00.00`
    - length (optional, float, `12.30`) ... Length of the supply in inches. Follow the format `00.00`
    - ribbonApp (optional, string) ... Ribbon capacity. Possible values `Standard`, `High`
        + Values
            + `S`
            + `H`
    - cardTech (optional, string) ... Card technology. Possible values `None` , `MS`, `RFID`, `MiFare`, `Prox`
        + Values
            + `NONE`
            + `MS`
            + `RFID`
            + `MF`
            + `P`
    - cardThick (optional, string, `100`) ... Card thickness in microns. 
    - dmar (optional, string) ... Setting this parameter with the corresponding DMAR value will return the SKU in the payload and filter out the ones that dont have one assigned by the DMAR
        + Values
            + `CDW`

+ Model (application/json)

    + Body

            {
                "links": {
                    "self": "http://localhost:9191/supplies?cardThick=10&dmar=CDW"
                },
                "resources": [
                    {
                        "links": {
                            "self": "http://localhost:9191/supplies/104523-210"
                        },
                        "id": "104523-210",
                        "name": "Premier PVC Blank White CR-80 Cards",
                        "description": "10 mil PVC card",
                        "printers": [],
                        "productType": {
                            "id": "C",
                            "label": "Cards"
                        },
                        "materialType": {
                            "id": "WPVC",
                            "label": "White PVC"
                        },
                        "cardsPerBox": 500,
                        "cardTechnology": {
                            "id": "NONE",
                            "label": "None"
                        },
                        "cardThickness": 10,
                        "dmarSku": "1069066"
                    },
                    {
                        "links": {
                            "self": "http://localhost:9191/supplies/104523-010"
                        },
                        "id": "104523-010",
                        "name": "Premier PVC Blank White CR-80 Cards",
                        "description": "10 mil Adhesive back cards with 14 mil Mylar® release liner, 24 mil total thickness",
                        "printers": [],
                        "productType": {
                            "id": "C",
                            "label": "Cards"
                        },
                        "materialType": {
                            "id": "WPVC",
                            "label": "White PVC"
                        },
                        "cardsPerBox": 500,
                        "cardTechnology": {
                            "id": "NONE",
                            "label": "None"
                        },
                        "cardThickness": 10,
                        "dmarSku": "1069066"
                    }
                ],
                "facets": {
                    "cardTech": [
                        {
                            "label": "None",
                            "value": "NONE",
                            "count": 2,
                            "link": "http://localhost:9191/supplies?cardThick=10&dmar=CDW&cardTech=NONE"
                        }
                    ],
                    "materialType": [
                        {
                            "label": "White PVC",
                            "value": "WPVC",
                            "count": 2,
                            "link": "http://localhost:9191/supplies?cardThick=10&dmar=CDW&materialType=WPVC"
                        }
                    ],
                    "productType": [
                        {
                            "label": "Cards",
                            "value": "C",
                            "count": 2,
                            "link": "http://localhost:9191/supplies?cardThick=10&dmar=CDW&productType=C"
                        }
                    ]
                },
                "total": 2
            }

### GET [GET]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200

    [Supplies Collection][]
    
### OPTIONS [OPTIONS]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200
    + Headers

            Access-Control-Allow-Credentials: true
            Access-Control-Allow-Headers: Content-Type
            Access-Control-Allow-Methods: GET,POST,DELETE,OPTIONS
            Access-Control-Allow-Origin: *
            Access-Control-Max-Age: 60
    
# Group Printers
Printer related resources of the **Supplies API**

## Printer [/printers/{printerId}]

+ Headers
    
        Origin: www.zebra.com

+ Model (application/json)

    + Body

            {
                "links": {
                    "self": "http://localhost:9191/printers/105SL"
                },
                "id": "105SL",
                "name": "105SL",
                "printTechnology": [
                    {
                        "id": "TT",
                        "label": "Thermal Transfer"
                    },
                    {
                        "id": "DT",
                        "label": "Direct Thermal"
                    }
                ],
                "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/105sl.jpg"
            }
            
### GET [GET]
+ Response 200

    [Printer][]

### OPTIONS [OPTIONS]
+ Response 200
    + Headers

            Access-Control-Allow-Credentials: true
            Access-Control-Allow-Headers: Content-Type
            Access-Control-Allow-Methods: GET,POST,DELETE,OPTIONS
            Access-Control-Allow-Origin: *
            Access-Control-Max-Age: 60

## Printers Collection [/printers]

+ Model (application/json)

    + Body

            {
                "links": {
                    "self": "http://localhost:9191/printers",
                },
                "resources": [
                    {
                        "links": {
                            "self": "http://localhost:9191/printers/105SL"
                        },
                        "id": "105SL",
                        "name": "105SL",
                        "printTechnology": [
                            {
                                "id": "TT",
                                "label": "Thermal Transfer"
                            },
                            {
                                "id": "DT",
                                "label": "Direct Thermal"
                            }
                        ],
                        "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/105sl.jpg"
                    },
                    {
                        "links": {
                            "self": "http://localhost:9191/printers/105SLPlus"
                        },
                        "id": "105SLPlus",
                        "name": "105SLPlus",
                        "printTechnology": [
                            {
                                "id": "TT",
                                "label": "Thermal Transfer"
                            },
                            {
                                "id": "DT",
                                "label": "Direct Thermal"
                            }
                        ],
                        "imageLink": "http://z03s-dayauth01:4502/content/dam/zebra/photography/product/industrial/105slplus.png"
                    }
                ],
                "facets": null,
                "total": 2
            }

### GET [GET]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200

    [Printers Collection][]
    
### OPTIONS [OPTIONS]
+ Request
    + Headers
    
            Origin: www.zebra.com

+ Response 200
    + Headers

            Access-Control-Allow-Credentials: true
            Access-Control-Allow-Headers: Content-Type
            Access-Control-Allow-Methods: GET,POST,DELETE,OPTIONS
            Access-Control-Allow-Origin: *
            Access-Control-Max-Age: 60
